# Ce fichier est un exemple. Pour le développement local,
# vous pouvez le copier en tant que `secrets.toml` et remplir les valeurs.
# IMPORTANT : N'ajoutez JAMAIS votre fichier `secrets.toml` à git !

[postgres]
host = "VOTRE_HOTE_ICI"
dbname = "VOTRE_NOM_DE_DB_ICI"
user = "VOTRE_UTILISATEUR_ICI"
password = "VOTRE_MOT_DE_PASSE_ICI"
port = 5432
